@page "{PostId}"
@model PlatformaBlogowa.Pages.AddTagModel
@{
	<form method="post">
        <input asp-for="Post.Id" class="form-control" hidden />
        <div class="form-group">
            <label asp-for="Post.Title" class="control-label"></label>
            <input asp-for="Post.Title" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Post.Description" class="control-label"></label>
            <input asp-for="Post.Description" class="form-control" readonly />
        </div>
        <div class="form-group">
            @foreach(var tag in Model.Tags)
            {
                <p>@tag.Name <a asp-page="./EditTag" asp-route-PostId="@tag.PostId" asp-route-TagId="@tag.Id">Edit</a> <a asp-page="./DeleteTag" asp-route-PostId="@tag.PostId" asp-route-TagId="@tag.Id">Delete</a></p>
            }
        </div>
		<div class="form-group">
            <label asp-for="Tag.Name" class="control-label"></label>
            <input asp-for="Tag.Name" class="form-control" />
            <span asp-validation-for="Tag.Name" class="text-danger"></span>
			<input asp-page-handler="AddTag" type="submit" value="Save" class="btn btn-primary" />
			
        </div>
	</form>
    <form method="post">
        <input asp-for="Post.Id" class="form-control" hidden/>
        <input asp-page-handler="Return" type="submit" value="Go back" class="btn btn-primary" /> 
        <input asp-page-handler="AddPicture" type="submit" value="Next" class="btn btn-primary" />
    </form>
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}