@page
@model PlatformaBlogowa.Pages.CommentsModel
@{
	<form method="post">
		<input asp-for="PostVM.Post.Id" class="form-control" hidden />
		<h1>@Model.PostVM.Post.Title</h1>
		<div class="form-group">
            @foreach (var picture in Model.PostVM.Pictures)
            {
                <img src="data:image/jpg;base64,@picture.ImageData" width="120px" height="120px"/>
            }
        </div>
		<h3>@Model.PostVM.Post.Description</h3>
		<p>TAGS:</p>
		@foreach (var tag in Model.PostVM.Tags)
		{
			<p>@tag.Name</p>
		}
		<p>Comments:</p>
		<input asp-page-handler="AddComment" type="submit" value="Add Comment" class="btn btn-primary" />
		@foreach(var comment in Model.PostVM.Comments)
		{
			<p>@comment.Description</p>
			<p>@comment.Created</p>
			<p>@comment.Ip</p>
			<a asp-page="./DeleteComment" asp-route-PostId="@comment.PostId" asp-route-CommentId="@comment.Id">Delete</a>
	}
	</form>
}
